yadn-mock/src/main/xsd/TranscodeJobResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:adstream:yadn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="Upload2.xsd"/>
  <xs:element name="TranscodeFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="urn:TranscodeFile" maxOccurs="unbounded" minOccurs="0" xmlns:urn="urn:adstream:yadn"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDefault" type="xs:string"/>
  <xs:element name="TranscodeProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="urn:TranscodeProperty" maxOccurs="unbounded" minOccurs="0" xmlns:urn="urn:adstream:yadn"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranscodeProperty">
      <xs:complexType>
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="value" use="optional"/>
      </xs:complexType>
  </xs:element>
  <xs:element name="FileStorage" type="xs:string"/>
  <xs:element name="TranscodeJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="urn:MessageID" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:Status" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:FileID" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:FileStorage" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:IsDefault" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:TranscodeFiles" xmlns:urn="urn:adstream:yadn"/>
      </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TranscodeFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="urn:FileID" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:FileDirectory" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:FileName" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:FileSize" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:SpecDBDocID" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:TranscodeProperties" xmlns:urn="urn:adstream:yadn"/>
      </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>