yadn-mock/src/main/xsd/UploadJobResponse-05-JPG.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:adstream:yadn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="Upload2.xsd"/>
  <xs:element name="UploadJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="urn:MessageID" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:Status" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:FileID" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:FileName" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:FileDirectory" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:FileSize" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:MD5" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:CRC" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:Node" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:SpecDBDocID" xmlns:urn="urn:adstream:yadn"/>
        <xs:element ref="urn:metadata" xmlns:urn="urn:adstream:yadn"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="SpecDBDocID" type="xs:string"/>
  <xs:element name="FileID" type="xs:string"/>
  <xs:element name="MD5" type="xs:string"/>

  <xs:element name="CRC" type="xs:string"/>
  <xs:element name="MessageID" type="xs:string"/>
  <xs:element name="FileName" type="xs:string"/>
  <xs:element name="Status" type="xs:string"/>
  <xs:element name="FileDirectory" type="xs:string"/>
  <xs:element name="FileSize" type="xs:string"/>

</xs:schema>